.w-max-box {
  width: 1000px;
  margin: 0 auto 0;
}

.content .shop .el-button--primary {
  width: 132px;
  height: 40px;
  padding: 0;
  border: 0ch;
  color: #fff !important;
}

.content .item-msg .el-button--primary {
  width: 100px;
  height: 24px;
}

.content .item-msg .el-button {
  padding: 0;
  border-radius: 0;
  border: 0;
}

.content .item-msg .el-button--primary span {
  line-height: 24px;
}

.navbar .el-submenu .el-menu-item {
  min-width: 0;
}

.navbar .el-icon-arrow-down:before {
  color: #fff;
}

.navbar .el-menu-item-group .el-menu-item {
  background: #fff !important;
  color: #808080 !important;
}

.navbar .el-menu-item-group__title {
  padding: 0 !important;
}

.navbar .el-menu-item:hover,
.navbar .el-submenu__title:hover {
  background: #0AA1ED !important;
}

.navbar .el-menu-item-group .el-menu-item:hover {
  background: #fff !important;
  color: #0AA1ED !important;
}

.navbar .el-submenu__title {
  line-height: 36px !important;
  height: 46px !important;
  border-bottom: 10px solid #F5F5F5;
}

.navbar .el-menu-item-group {
  transition: all 0s;
  margin-top: -10px;
}

.operate .el-button {
  width: 68px;
  height: 32px;
  padding: 0;
  font: 12px simhei;
  background: #11A5EF;
  border-radius: 2px;
}

.operate .el-button:hover {
  background: #0D9AE1;
}


/*lx*/

.address .el-select {
  width: 130px;
}

.name .el-input__inner {
  width: 86px;
}

.detailedaddress .el-textarea__inner {
  width: 443px;
}

.fiexdtel .el-input {
  width: 156px;
}

.tel .el-input {
  width: 156px;
}

.postcode .el-input {
  width: 156px;
}

.addressname .el-input {
  width: 81px;
}

.login .el-button {
  width: 250px;
}

.login .el-button--primary {
  padding: 12px 20px !important;
}

.login .el-form-item__content {
  margin-top: 10px;
}

.elform .el-form-item__label {
  color: #fff !important;
}

.register .el-button--primary {
  width: 220px;
  margin-left: 75px;
}

.pass .el-input__inner {
  width: 164px;
}
